body {
    padding: 0px;
    margin: 0px;
}

#map { 
  width: 70%;
  float: left;
}

#introduction {
  padding: 0px 30px 0px 30px;
  width: calc(30% - 60px);
  float: right;
}

#introduction h1, h2, p{
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 25px;
}

h2 {
  font-size: 20px;
}

#donut{
  width: 30%;
  position: absolute;
  margin-top: 250px;
}

.c3-chart-arcs-title{
  color: white;
}

.clusterIcon {
    width: 40px !important;
    height: 30px !important;
    border-radius: 90px;
    line-height: 30px;
    text-align: center;
    color: white;
}

.red{ background-color: rgba(255, 0, 0, 0.7)}
.green{ background-color: rgba(76, 175, 80, 0.3);}
.orange{ background-color: rgba(255, 152, 0, 0.5);}

.detail-container {
    background-color: #000000;
    opacity: 0;
    height: 100%;
    top: 0px;
    right: 0px;
    display: block;
    z-index: 999999999999999;
    position: absolute;
}

.title {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 0;
}

.statistics-paragraph{
    color: white;
    left: 50px;
    position: absolute;
    top: 100px;
    opacity: 0.0;
    font-size: 18px;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  #slider-range {
    max-width: calc(100% - 30px);
    margin-left: 10px;
  }

  #slider-range span {
    outline: none;
  }

  #slider-range span.ui-state-active{
    background: black;
    border-color: black;
    outline: none;
  }

  .c3-legend-item, .c3-chart-arcs-title {
    fill: #cccccc;
 }

 #delay-amounts-donut {
   max-height: 320px;
   margin-top: 250px;
   margin-left: 65%;
   margin-right: 30px;
 }

 #donut {
   margin-left: 30px;
 }

 .padded {
   padding-left: 6vw;
   padding-right: 6vw;
 }