#map { 
    height: 1000px; 
    width: 1500px;
}

.clusterIcon {
    width: 40px !important;
    height: 30px !important;
    border-radius: 90px;
    line-height: 30px;
    text-align: center;
    color: white;
}

.red{ background-color: rgba(255, 0, 0, 0.7)}
.green{ background-color: rgba(76, 175, 80, 0.3);}
.orange{ background-color: rgba(255, 152, 0, 0.5);}